<!-- Contents of the header and nav items -->
<header>
	<div class="site-logo">
		<a href="/~mdamian/classes">
			<img src="/~mdamian/assets/images/books.png" width="100px"  /> 
		</a>
	</div>
	
	<div class="title">
		<a href="/~mdamian/classes">
			<h1><script>document.write($classtitle);</script></h2>
			<h2><script>document.write($semester);</script></h2>
		</a>
	</div>

	<div id="hamburger">
	  	<span></span>
  		<span></span>
  		<span></span>
  		<span></span>
	</div>
</header>

<nav>
	<ul>
		<li id="classhome-link">Home</li>
		<li id="syllabus-link">Syllabus</li>
		<li id="schedule-link">Schedule</li>
		<li id="labs-link">Labs</li>
		<li id="assignments-link">Assignments</li>
		<li id="forum-link">Forum</li>
	</ul>
</nav>

<script src="/~mdamian/assets/scripts/classmd.js" type="text/javascript"></script>