<footer>
	<div class="top">
		<h4 id="aboutMe">Contact Me</h4>
		<div class="coloumn-2">
			<div class="quote-container">
				<div class="head-shot">
					<img src="/~mdamian/assets/images/mdamian.jpg" height="100px;" alt="Mirela Damian"/>
					<figcaption>Mirela Damian</figcaption>
				</div>

				<div class="quote">
					<img src="/~mdamian/assets/images/quote-left.png" height="10px" />	
					The important thing is to never stop questioning. 
					<img src="/~mdamian/assets/images/quote-right.png" height="10px" />	
					- Albert Einstein 
				</div>
			</div>
		</div>

		<div class="coloumn-1">
			<div class="location" id="contactMe">
				<ul>
					<li>161 Mendel Science Center</li>
					<li>Villanova University</li>
					<li>800 Lancaster Ave</li>
					<li>Villanova, PA 19085-1699</li>
				</ul>
			</div>
			
			<div class="location">
				<ul>
					<li>Mendel 167-B</li>
					<li>Phone:	(610) 519-7414</li>
					<li>Fax:	(610) 519-7889</li>
					<li>email:	mirela.damian@villanova.edu</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="title">Quick Links</div>
		<div class="quick-links">
			<ul>
				<li><a href="/~mdamian/research">Research Interests</a></li>
				<li><a href="/~mdamian/research#student-projects">Student Projects</a></li>
				<li><a href="/~mdamian/publications">Publications</a></li>
				<li><a href="/~mdamian/classes">Teaching</a></li>
				<li><a href="http://colinpurrington.com/tips/academic/posterdesign" target="_blank">Designing Conference Posters</a></li>
			</ul>
		</div>

		<div class="nova-logo">
			<img class="hide-on-very-small" src="/~mdamian/assets/images/Villanova.png" height=80px /> 
			<img class="show-on-very-small" src="/~mdamian/assets/images/Villanova-no-seal.png" height=80px /> 
		</div>
	</div>
</footer>

<!-- Website Created by Kevin Cloutier <http://www.homepage.villanova.edu/kevin.cloutier>, in the Spring of 2017 -->
